/* Absolute Position  Create and implement a CSS class that changes the color of a piece of text*/
.colorful-text {
    color: blue;
}
/*Create and implement a CSS class that changes the size of a piece of text*/
.large-text {
    font-size: 44px;
}
/*Create and implement a CSS class that changes the font of a piece of text*/
.font{
  font-family: Arial, Helvetica, sans-serif;
}
/*Create and implement a CSS class that transforms the case of a piece of text (uppercase)*/
.upper-text {
    text-transform: uppercase;
}
/*Include at least one element that is positioned (and moved) absolutely, relatively and fixed (one for each)*/
/* Absolute Position */
.absolute-box {
    position: absolute;
    top: 50px;
    left: 20px;
    background-color: #ffcc00;
    padding: 10px;
}


.relative-box {
    position: relative;
    top: 20px;
    right: : 50px;
    background-color: #33cc33;
    padding: 10px;
}
/* Fixed Position */
.fixed-box {
    position: fixed;
    top:50px;
    right: 10px;
    background-color: #3366cc;
    padding: 10px;
}
/*Create and implement at least one CSS class that uses nested selectors*/


/* Nested Selector Example */
.nested-list {
    list-style: none;
}

.nested-list li {
    padding: 5px;
    background-color: #33cc33;
    color: #fff;
}


/* Grouped Selectors Example */
.highlight-text,
.highlight-text h3 {
    background-color: #ffcc00;
    padding: 10px;
    color: #333;
}


/*Demonstrate the concepts of the “Box” model (margin, border, padding, content) at least once*/
.box-example {
    width: 200px;
    height: 200px;
    padding: 20px;
    border: 2px solid #333;
    margin: 30px;
    background-color: #ffcc00;
    text-align: center;
}

.box-example p {
    margin: 0;
}
